
<div class="max-w-5xl mx-auto px-4 my-8">
  <%= render partial: 'layouts/notices' %>
  <p class="mb-6"><%= link_to '‹ Back to hops', regions_path, class: 'underline' %></p>

  <div class="card">
    <h1><%= @hop.location.name %> - <%= friendly_date(@hop.date) %></h1>
    <p class="text-sm text-gray-600"><%= pluralize(@hop.people.count, 'attendee') %> from <%= pluralize(@hop.organisations.uniq.count, 'organisation')%></p>
   
    <h2 class="mt-3">Organisations</h2>
    <% @hop.organisations.order(name: :asc).group_by(&:name).each do |name, organisations| %>
      <p><%= name %> <%= organisations.length > 1 ? "(#{organisations.length})" : '' %></p>
    <% end %>
    
    <h2 class="mt-3">Attendance by region</h2>
    <%
    regions = []
    @hop.people.group(:region_id).count.each do |count|
      regions.push({name: Region.find(count[0]).name, attendance: count[1], colour: Region.find(count[0]).colour})
    end
    regions.sort_by!{|r| -r[:attendance]}
    %>
      
    <canvas id="region_breakdown" width="200" height="100" class="max-w-sm"></canvas>
    <script>
    var ctx = document.getElementById('region_breakdown').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: [<%= ('"'+regions.map {|r| r[:name]}.join('","')+'"').html_safe %>],
          datasets: [{
            data: [<%= regions.map {|r| r[:attendance]}.join(",") %>],
            backgroundColor: [<%= ('"'+regions.map {|r| r[:colour]}.join('","')+'"').html_safe %>],
          }]
        },
        options: {
          legend: {
              position: 'right'
          },
          tooltips: {
            callbacks: {
              label: function(tooltipItem, data) {
                let total = data.datasets[0].data.reduce((a, b) => a + b);
                let val = data.datasets[0].data[tooltipItem.index];
                let label = Math.round(val/total * 100)+'% ('+val+')';
                return label;
              }
            }
          }
        }
    });
    </script>
    
    <h2 class="mt-3">Organisations by maturity</h2>
    <%
    interactions = @hop.interactions.select { |i| i.action_type == 'maturity' }

    maturities = {
      "Tech is not a priority for us" => 0,
      "We don’t know where to start" => 0,
      "We’re beginning to experiment with tech" => 0,
      "Tech is a strategic priority and progress is happening" => 0,
      "It's embedded into what we do across all areas and our daily practices" => 0
    }
    interactions.each do |interaction|
      if maturities.key?(interaction.action) then maturities[interaction.action]+= 1 end
    end
    %>
      
    <canvas id="org_maturities" width="400" height="150"></canvas>
    <script>
    var ctx = document.getElementById('org_maturities').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: [<%= ('"'+maturities.keys.join('","')+'"').html_safe %>],
            datasets: [{
                data: [<%= maturities.values.join(",") %>],
                backgroundColor: '#2daeb7'
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
    
    <h2>Organisations by income</h2>
    <%
    orgs = @hop.organisations

    incomes = {}
    Organisation.incomes.keys.each do |category|
      incomes[category] = 0
    end

    orgs.each do |org|
       if incomes.key?(org.income) then incomes[org.income]+= 1 end
    end
    %>
    <canvas id="org_incomes" width="400" height="150"></canvas>
    <script>
    var ctx = document.getElementById('org_incomes').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [<%= ('"'+incomes.keys.join('","')+'"').html_safe %>],
            datasets: [{
                data: [<%= incomes.values.join(",") %>],
                backgroundColor: '#2daeb7'
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    scaleLabel : {
                        display: false,
                        labelString: 'Annual Income'
                    },
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
    
    <h2>Partners</h2>
    <% @hop.networks.each do |network| %>
      <p><%= link_to network.name, network_path(network), class: 'link' %></p>
    <% end %>
  </div>
</div>