<!DOCTYPE html>
<html>
  <head>
    <title>Hops Dashboard</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body>

    <%- if user_signed_in? %>
      <header class="bg-primary-700">
        <nav class="max-w-5xl container mx-auto flex items-center justify-between flex-wrap py-3 px-4">
          <%= link_to 'Hops Dashboard', root_path, class: 'font-bold text-lg text-white hover:opacity-75' %>
          <div class="flex items-center">
            <%= link_to 'Hops', regions_path, class: 'text-sm text-white hover:opacity-75' %>
            <%= link_to 'Account', edit_user_registration_path, class: 'text-sm text-white hover:opacity-75 sm:ml-5 ml-3' %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'text-sm text-white hover:opacity-75 sm:ml-5 ml-3' %>
          </div>
        </nav>
      </header>
    <% else %>
      <header>
        <nav class="max-w-5xl container mx-auto py-3 px-4">
          <%= link_to 'Hops Dashboard', root_path, class: 'font-bold text-lg hover:opacity-75' %>
        </nav>
      </header>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <%= render partial: 'layouts/footer' %>

  </body>
</html>
